//SCREEN SIZES
$screen-mobile: 48em;
$screen-tablet: 62em;
$screen-desktop: 75em;

//SPACING
$pad: 2rem;
$pad-xxs: calc(#{$pad}/10);
$pad-xs: calc(#{$pad}/2.5);
$pad-sm: calc(#{$pad}/2);
$pad-lg: calc(#{$pad} * 2);
$pad-xlg: calc(#{$pad} * 2.5);

//BORDERS AND SHAPES
$border-radius: 25px;
$circle: 50%;
$border: solid 3px;
$shadow: 0px 0px 30px rgba(146, 146, 146, 0.18);

//ANIMATIONS
$transition: all 2s ease;

//FONTS
$font-primary: 'League Spartan', sans-serif;
$font-secondary: 'League Mono', serif;

//COLORS
$color-1: #f6f6f6;
$color-2: #053049;
$color-3: #FF2B52;
$color-4: #f87b7b;
$color-5: lighten($color-2, 20%);
$color-6: lighten($color-2, 45%);
$color-7: #f9f9f9;

$gradient-1: linear-gradient(140deg, rgba($color-2,1) 0%, rgba($color-3,1) 75%, rgba($color-3,1) 85%);
$gradient-2: linear-gradient(113deg, rgba($color-4,1) 0%, rgba($color-3,1) 75%);
$gradient-3: linear-gradient(113deg, rgba($color-6,1) 0%, rgba($color-5,1) 75%);
