.alert {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: grid;
  z-index: 100;
  position: absolute;
  top: 10px;
  left: 50%;
  align-items: center;
  width: 80%;
  padding: $pad-sm $pad;
  transform: translateX(-50%);
  border-radius: 60px;
  box-shadow: $shadow;
  font-family: $font-secondary;
  font-weight: 200;
  text-align: center;

  &--hide {
    display: none;
  }

  &--info {
    border: solid 2px $color-4;
    background-color: $color-1;
    color: $color-5;
  }

  &--danger {
    background: $gradient-2;
    color: $color-1;
  }

  &--desktop {
    display: inline-block;
    max-width: 25em;
    margin-bottom: $pad-sm;
    padding: $pad-sm;
    border-radius: 25px;
    background: $color-1;

    p {
      margin-bottom: 0;
      font-size: 1.5em;
    }

    @media only screen and (max-width: $screen-tablet) {
      display: none;
    }
  }
}
