a {
  color: $color-3;
  font-family: $font-primary;
  font-size: 0.7em;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s ease;

  &:hover {
    color: $color-2;
    cursor: pointer;
    transition: all 0.4s ease;
  }
}
.btn {
  display: block;
  margin: 0 auto $pad-sm;
  padding: $pad-sm $pad-sm;
  border-radius: 75px;
  background-color: $color-2;
  color: $color-1;
  font-family: $font-primary;
  font-weight: 200;
  font-size: 0.8em;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease;

  &:hover {
    background-color: $color-4;
    color: $color-1;
    cursor: pointer;
    transition: all 0.4s ease;
  }

  &--secondary {
    background-color: $color-1;
    border: solid 3px $color-2;
    color: $color-2;
    display: inline-block;
    padding: $pad-xs $pad;
    font-size: 0.7em;
    transition: all 0.4s ease;
    &:hover {
      background-color: $color-2;
    }
  }
}
