a {
  color: $color-3;
  font-family: $font-primary;
  font-size: 0.7em;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s ease;

  &:hover {
    color: $color-2;
    cursor: pointer;
    transition: all 0.4s ease;
  }
}
.btn {
  display: block;
  margin: 0 auto $pad-sm;
  padding: calc(2rem/1.5) $pad-sm;
  border-radius: 75px;
  background: linear-gradient(113deg, rgba($color-5,1) 0%, rgba($color-2,0.9) 45%,rgba($color-5,1) 85% );
  background-size: 400% 400%;
  color: $color-1;
  font-family: $font-primary;
  font-weight: 200;
  font-size: 0.8em;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease;
  animation: btnGradient 25s ease infinite;

  &:hover {
    background: $color-4;
    color: $color-1;
    cursor: pointer;
    transition: all 0.4s ease;
  }

  &--secondary {
    @extend .btn;
    background: $color-8;
    &:hover {
      background: $color-4;
    }
  }

  &--red {
    @extend .btn;
    background: linear-gradient(113deg, rgba($color-4,1) 0%, rgba($color-3,1) 35%, rgba($color-3,1) 65%,rgba($color-4,1) 85% );

    &:hover {
      background: $color-4;
    }
  }
}

@keyframes btnGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
