a {
  color: $color-3;
  font-style: 0.8em;
  font-family: $font-primary;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s ease;

  &:hover {
    color: $color-2;
    cursor: pointer;
    transition: all 0.4s ease;
  }
}
.btn {
  display: block;
  margin: $pad-xs;
  padding: 1.5em $pad-sm;
  border-radius: 75px;
  background: $color-5;
  color: $color-7;
  font-family: $font-primary;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease;

  &:hover {
    background: $color-4;
    color: $color-7;
    cursor: pointer;
    transition: all 0.4s ease;
  }

  &--primary {
    background: $gradient-2;
    transition: all 0.4s ease;
    &:hover {
      background: $gradient-3;
    }
  }
}
