//CARD STYLES
.card {
  background-color: $color-7;
  border-radius: $border-radius;
  box-shadow: $shadow;

  &--highlight {
    background: $gradient-2;
    h1, h2 {
      color: $color-7;
    }
  }
}
