//CARD STYLES
.card {
  background-color: $color-7;
  border-radius: $border-radius;
  box-shadow: $shadow;

  &--red, &--blue {
    @extend .card;
    h1, h2, h3, h4, p {
      color: $color-7;
    }
  }

  &--red {
    background: $gradient-2;
  }

  &--blue {
    background: $gradient-3;
  }

  &__map {
    @extend .card;
    padding: $pad-sm;
    width: 80vw;
    margin: 0 auto;
    position: relative;
  }

  &__logo {
    max-width: 80%;
    margin: 0 auto;
  }


}
