//CARD STYLES
.card {
  background-color: $color-7;
  border-radius: $border-radius;
  box-shadow: $shadow;

  &--highlight {
    background: $gradient-2;
    h1, h2 {
      color: $color-7;
    }
  }

  &__map-container {
    @extend .card;
    padding: $pad-sm;
    height: 68vh;
    width: 80vw;
    margin: 0 auto;
  }
}
