.header {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  align-items: center;
  padding: $pad-xs;

  &__logo {
    img {
      max-width: 8em;
    }
  }

  &__title {
    text-align: center;
    h1 {
      padding: 0;
      line-height: 1.1;

      b {
          font-size: 1.8rem;
          font-family: $font-primary;
          text-transform: uppercase;
      }
    }
  }

  h1 {
    padding: 0;
  }
}
