//POP UP OVERLAY
.overlay {
  display: grid;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  background: rgba(6, 70, 98, 0.72);

  .section--drop {
    background-position: center -37vh;
  }

  .card {
    @media (min-width: $screen-tablet) {
      width: 550px;
      margin: 0 auto;
    }
  }
}
