.player {
  display: grid;
  position: relative;
  grid-template-columns: 2.5fr 1fr;
  align-items: center;
  margin: $pad-xs $pad-sm 0;

  .logo {
    width: 4em;
    vertical-align: middle;
  }
  &__name {
    padding-bottom: 0;
    font-family: $font-primary;
    line-height: 1;
  }
  &__time {
    padding-bottom: 0;
    font-weight: 800;
    text-align: right;
    font-size: 1.2em;
    color: $color-1;
    background-color: $color-4;
    border-radius: 5px;
    width: auto;
    padding: 0.2em;
    text-align: center;
  }
}
