.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $pad-sm;

  &--1 {
    grid-template-columns: 1fr;
  }

  &--2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &--3 {
    grid-template-columns: repeat(3, 1fr);
  }


  &--2-md {
    @media screen and (min-width: $screen-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--3-md {
    @media screen and (min-width: $screen-tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--2-lg {
    @media screen and (min-width: $screen-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--3-lg {
    @media screen and (min-width: $screen-tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__child {

    &--span-2 {
      grid-column: span 2;
    }

    &--span-3 {
      grid-column: span 3;
    }
  }
}
